In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('dataset/data/season-1819_csv.csv')
# df.head(6)
df.columns
df = df[['HomeTeam', 'AwayTeam','Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH']]
df.head(7)

,HomeTeam,AwayTeam,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH
0,Man United,Leicester,A Marriner,8,13,6,4,11,8,2,5,2,1,0,0,1.57,3.9,7.50,1.53
1,Bournemouth,Cardiff,K Friend,12,10,4,1,11,9,7,4,1,1,0,0,1.90,3.6,4.50,1.90
2,Fulham,Crystal Palace,M Dean,15,10,6,9,9,11,5,5,1,2,0,0,2.50,3.4,3.00,2.45
3,Huddersfield,Chelsea,C Kavanagh,6,13,1,4,9,8,2,5,2,1,0,0,6.50,4.0,1.61,6.25
4,Newcastle,Tottenham,M Atkinson,15,15,2,5,11,12,3,5,2,2,0,0,3.90,3.5,2.04,3.80
5,Watford,Brighton,J Moss,19,6,5,0,10,16,8,2,2,2,0,0,2.37,3.2,3.40,2.35
6,Wolves,Everton,C Pawson,11,6,4,5,8,7,3,6,0,1,0,1,2.37,3.3,3.30,2.35